/*csslint ids: false*/

/*************************
GENERAL
*************************/
body{
    font-family: 'Raleway', sans-serif;
}

#wrapper{
    color: #616161;
    /*margin 0 is for all sides*/
    margin: 0 auto;
    /*max-width is related to width. But instead of width, max-width gives us the ability to be smaller for mobile  devices*/
    max-width: 940px;
    /*first value: left & right, second value: up & down*/
    padding: 0 5%;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    margin: 0 0 1em 0;
}

profile-photo{
    border-radius: 50%;
}

/*************************
HEADER
*************************/
header{
    box-sizing: border-box;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo{
    margin: 0;
    /* position of name/description */
    text-align: center;
}

h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.75em;
    margin: 15px 0;
}

h2{
    color: #fff;
    font-size: 0.75em;
    font-weight: normal;
    /* first value is for top, second is for  left and right, third is for the bottom */
    margin: -5px 0 0;
}

#o{
    color: #ff7f27;
}
#r{
    color: #e02125;
}
#g{
    color: #a6942d;
}
/*************************
NAVIGATION
*************************/
nav{
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 10px 0;
    padding: 0 10px;
}

nav li{
    display: inline-block;
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
}

/*************************
FOOTER
*************************/
footer{
    clear: both;
    color: #424242;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon{
    height: 40px;
    margin: 0 5px;
    width: 40px;
}

/*************************
PAGE PORTFOLIO
*************************/
#gallery{
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li{
    background-color: #64B5F6;
    color: #fff;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p{
    color: white;
    font-size: 0.8em;
    margin: 0;
    padding: 5%;
}

/*************************
ABOUT 
*************************/
.profile-photo{
    border-radius: 50%;
    display: block;
}

/*************************
CONTACT
*************************/
.contact-info{
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #616161;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
}

contact-info li.mail{
    background-image: url('../img/gmail.svg')
}
contact-info li.instagram{
    background-image: url('../img/instagram.png')
}

/*************************
COLOR
*************************/
nav .selected{
    color: #263238;
}

body{
    background-color: #fff;
    color: #e0e0e0;
}

a{
    color: #263238;
}

header{
    background: #90CAF9;
}

nav{
    background: #64B5F6;
}

/* "visited" is a pseudo-class*/
nav .selected, nav a:visited{
    
}

/* we are selecting the selected class*/
nav .selected, nav a:hover{
    color: #fff;
}



/*************************
SIZE
*************************/

/*************************
MEDIA Queries
*************************/
/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px){
    #primary{
        float: left;
        width: 50%;
        
    }
    #secondary{
        float: right;
        width: 40%;
        
    }
    /*THREE COLUMN LAYOUT*/
    #gallery li{
        width: 20%;
    }
    #gallery li:nth-child(4n){
        clear: right;
    }
    /*ABOUT PAGE*/
    .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
    }
}



@media screen and (min-width: 660px){
    /*NAV*/
    nav{
        background: none;
        float: right;
        font-size:  1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 0.825;
        margin-bottom: 20px;
    }
    header{
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}




